* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat',sans-serif;
    color: white;
    background:
        linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.3)),
        url("travel.jpg")
        center/cover no-repeat fixed;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: transparent;
    backdrop-filter: blur(5px);
}

.logo {
    font-size: 30px;
    font-weight: bold;
}
.nav a {
    margin-left: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
   
}
.hero {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-left:120px;
    padding-right: 120px;
}

.hero-content {

    text-align: left;
    
   }
    .hero-content h1,
    .hero-content p {
    text-shadow: 0px 4px 10px rgba(0,0,0,0.7);
}

.hero-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.section-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    font-weight: 400;
    letter-spacing: 1.5px;
}

.offers-section {
    padding: 80px 20px 100px 20px;
    margin-top: 180px;

}
.offers-box {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}
.offer {
    width: 250px;
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    backdrop-filter: blur(4px);
}

.offer img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.offer h2 {
    margin: 10px 0 5px;
    font-size: 22px;
}

.offer p {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 15px;
}



.form-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.form-box {
    width: 320px;
    background: rgba(0,0,0,0.4);
    padding: 25px;
    border-radius: 14px;
    backdrop-filter: blur(6px);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}
.dest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 22px;
    padding: 20px;
}

.dest-card {
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    text-align: center;
    padding-bottom: 12px;
    backdrop-filter: blur(4px);
    transition: 0.25s;
}

.dest-card:hover {
    transform: scale(1.05);
}

.dest-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.dest-block{
    margin-top: 250px;
}
.footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.35);
    margin-top: 100px;
}

.form-box {
width: 360px;
background: rgba(255,255,255,0.12);
padding: 30px;
border-radius: 18px;
backdrop-filter: blur(12px);
box-shadow: 0 0 20px rgba(0,0,0,0.4);
animation: fadeIn 0.6s ease;
}

